h1 {    font-size: 26px;    font-family: Arial, Verdana, sans-serif; padding-left:50px; color: #CB6843;  }
h2 {    font-size: 20px;    font-family: Arial, Verdana, sans-serif; color: #E52B50;  }
h3 {    font-size: 16px;    font-family: Arial, Verdana, sans-serif; padding-left:50px; color: #CD5C5C;  }
p  {    font-size: 14px;    font-family: Arial, Verdana, sans-serif; padding-left:5px; color: #772953;}